.contact  {
   margin-top: 10%;
   margin-left: 10%;
    
  }
  
  .btn-primary {
    background-color: #e60c0c;
  }
  
  .btn-primary:hover {
    color: #a020f0;
    background-color: #fff;
  }
  
  label {
    padding-bottom: 1.5em;
  }
  
  .form-control {
    margin-bottom:  1.5em;
    width: 600px;
    margin-top: -1%;
    
    
  }
  .contactimg{
    width: 320px;
  }
  .heading-contact{
    margin-left: 0%;
    margin-top: 3%;
    margin-bottom: 5%;


  }
  
  @media only screen and (max-width: 768px) {
    .contact {
      
      width: 380px;
    }

  .form-control{
    width: 378px;
    margin-left: -5%;
  }
    .contactimg{
      width:124px;
      height: 20px;
      margin-top: 20%;
      margin-left: -10%;
    }
    .heading-contact{
      text-align: center;
    }
  }

